@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

body {
	background-color: black;
	color: white;
	font-size: 14px;
}

header {
	display: flex;
}
.logoHeader {
	color: blanchedalmond;
	font-size: 0.8em;
	background-color: brown;
	border-radius: 50px;
	width: 3em;
	padding-left: 0.5em;
	padding-top: 0.3em;
}
.titleHeader {
	padding-left: 1em;
	color: brown;
}

main {

}
.movieCard {
	width: 90vw;
}
.movieCover {
	background-image: url('img/cover.jfif');
	width: 100px;
	height: 80px;
}
.movieInfo {
	
}


footer {

}